
@using Microsoft.Ajax.Utilities
@model IEnumerable<Lotto.Models.Numbers_NCounts>
@{
    ViewBag.Title = "LottoTop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AnalyticsRecent</h2>

<body>

<div>
    Number Counting in Total
</div>
<div>
    <table id="example-table-1" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.numbers)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nCounts)
            </th>
        </tr>
        </thead>
        <tbody>
             
        @{
            int i = 1;
        }
        @foreach (var item in Model)
        {
           

            if (i < 46)
            {
                <tr>
                      

                    <td>
                        @Html.DisplayFor(modelItem => item.numbers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.numbers)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nCounts)
                    </td>

                       
                </tr>

            }
            

            i++;


        }

        </tbody>
    </table>
</div>


</body>

<script type="text/javascript">



    $(document).ready(function () {
        $("#example-table-1").DataTable({
            "order": [[2, "desc"]],
            "lengthMenu": [[-1], ["All"]]

        });


    });

</script>