@using Microsoft.Ajax.Utilities
@model IEnumerable<Lotto.Models.Target_Numbers>
@{
    ViewBag.Title = "LottoTop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>WeeklySuggestedNumbers</h2>

<body>

    <div>
        WeeklySuggestedNumbers
    </div>
<div>
    <table id="example-table-1" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
            <tr>

                <th>
                    1번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    2번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    3번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    4번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    5번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    6번째
                </th>
                <th>
                    돌출수
                </th>
                <th>
                    보너스
                    </th>
                <th>
                    돌출수
                </th>
            </tr>
        </thead>
        <tbody>
             
        @{
            float totalNumber = ViewBag.topNumber;
            string topNumber = null;
            float resultNumber = 0;
        }
        @foreach (var item in Model)
        {

            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber1)
                </td>
                <td>
                    
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount1).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount1) (@resultNumber.ToString("#")%)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber2)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount2).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount2) (@resultNumber.ToString("#")%)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.targetNumber3)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount3).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount3) (@resultNumber.ToString("#")%)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber4)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount4).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount4) (@resultNumber.ToString("#")%)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber5)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount5).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount5) (@resultNumber.ToString("#") %)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber6)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount6).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount6) (@resultNumber.ToString("#")%)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.targetNumber7)
                </td>
                <td>
                    @{
                        topNumber = @Html.DisplayFor(modelItem => item.targetNumberCount7).ToString();
                        resultNumber = topNumber.AsFloat() / totalNumber * 100;
                    }
                    @Html.DisplayFor(modelItem => item.targetNumberCount7) (@resultNumber.ToString("#")%)
                </td>


            </tr>

            }
            

      


        }

        </tbody>
    </table>
</div>


</body>

<script type="text/javascript">



    $(document).ready(function () {
        $("#example-table-1").DataTable({
            "lengthMenu": [[-1], ["All"]]

        });


    });

</script>